<div class="row">
  <div class="col-md-6">
    <div
        ba-panel
        ba-panel-title="Filtrar vehiculos"
        ba-panel-class="with-scroll">

        <form name="form" ng-submit="crearUsuario(usuario)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input-sm" id="input1"
                        placeholder="Nombre" ng-model="usuario.nombre">
              </div>
              <div class="form-group">
                <input type="number" class="form-control input-sm" id="input1"
                        placeholder="Cedula" ng-model="usuario.cedula">
              </div>
              <div class="form-group">
                <input type="email" class="form-control input-sm" id="input1"
                        placeholder="E-Mail" ng-model="usuario.email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm" id="input1"
                        placeholder="Telefono" ng-model="usuario.telefono">
              </div>
              <div class="form-group">
                <label>Fecha de nacimiento</label>
                <p class="input-group">
                    <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="usuario.fechaNacimiento" 
                    is-open="fechaNacimiento"  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'fechaNacimiento')"><i class="fa fa-calendar"></i></button>
                    </span>
                </p>
              </div>
              <select class="form-control selectpicker with-search" data-live-search="true" title="Rol"    selectpicker
               ng-model="usuario.rol">
                <option value="despachador">Despachador</option>
                <option value="conductor">Cliente</option>
                <option value="cliente">Conductor</option>
              </select>

               <div class="form-group">
                <input type="password" class="form-control input-sm" id="input1"
                        placeholder="Contaseña" ng-model="usuario.password">
               </div>

               <div class="form-group">
                              <label>{{usuario.imagen.name}}</label>
                               <button class="btn btn-primary" ngf-select ng-model="usuario.imagen" ngf-multiple="false" ngf-max-size="2MB" style="margin-top: 6%;margin-left: 3%;"><span class="glyphicon glyphicon-paperclip span-adjuntar" style="color: white;" style="margin-left: 2%;margin-top: 1%;"> Foto</span>
                                </button>

               </div>

            </div>

          </div>
          <div class="row col-md-6">
            <button type="submit" class="btn btn-primary">Registrar usuario</button>
          </div>
        </form>
    </div>
  </div>
  
   

</div>
