
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Registrar vehiculo</h4>
  </div>
    <form class="form-horizontal">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
                <label>Capacidad de pasajeros</label>
              <input type="text" class="form-control input-sm"
                      placeholder="Cupo maximo de pasajeros" ng-model="vehiculo.capacidad">
            </div>
            <div class="form-group">
                <label>Placa</label>
              <input type="text" class="form-control input-sm text-uppercase"
                     ng-model="vehiculo.placa">
            </div>
            <div class="form-group selectpicker with-search">
                <label>Marca</label>
              <input type="text" data-live-search="true" class="form-control input-sm"
                     ng-model="vehiculo.marca">
            </div>
            <div class="form-group">
                <label>Modelo</label>
              <input type="text" class="form-control input-sm"
                     ng-model="vehiculo.modelo">
            </div>
            <div class="form-group">
                <label>Referencia</label>
              <input type="text" class="form-control input-sm"
                     ng-model="vehiculo.referencia">
            </div>
            <div class="form-group">
               <button class="btn btn-primary btn-xs" ngf-select ng-model="imagenVehiculo"
                        ngf-multiple="false" ngf-max-size="2MB" >Elegir foto
                </button>
                {{imagenVehiculo.name}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox"  ng-model="vehiculo.wifi">
                  <span>WiFi</span>
                </label>
            </div>
              <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox"  ng-model="vehiculo.audio">
                    <span>Audio</span>
                  </label>
              </div>
              <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox"  ng-model="vehiculo.video">
                    <span>Video</span>
                  </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox"   ng-model="vehiculo.aire">
                    <span>Aire</span>
                  </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox"  ng-model="vehiculo.bano">
                    <span>Baño</span>
                  </label>
              </div>
             <div class="checkbox">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="vehiculo.reclinable">
                    <span>Sillas reclinables</span>
                  </label>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="crearVehiculo(vehiculo,imagenVehiculo)">Registrar</button>
        <button class="btn btn-primary" ng-click="$dismiss()">Cancelar</button>
      </div>
      </form>
</div>
