<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Editar tarifa</h4>
  </div>
   
      <div class="modal-body">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <label>Capacidad del vehiculo </label>
              <input class="form-control" ng-model="tarifa.capacidadDelVehiculo">
            </div>
            <div class="col-md-3">
              <label>Tiempo minimo </label>
              <input class="form-control" ng-model="tarifa.tiempoMinimo">
            </div>
            <div class="col-md-3">
              <label>Tiempo maximo </label>
                <input  class="form-control" ng-model="tarifa.tiempoMaximo">

            </div>
            
            <div class="col-md-3">
              <label>Valor </label>
                <input  class="form-control"  ng-model="tarifa.valorPorHora" placeholder="Valor" ui-money-mask="0">

            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="actualizarTarifa(tarifa)">Actualizar</button>        
        <button class="btn btn-warning" ng-click="$dismiss()">Cancelar</button>
        <button class="btn btn-danger" mwl-confirm  
          on-confirm="eliminarTarifa(tarifa)" title="¿Estás seguro?"
          message="¿En realidad deseas eliminar esta tarifa?"
          confirm-text="Si"
          cancel-text="No"
          confirm-button-type="danger"
          cancel-button-type="default">Eliminar tarifa
        </button>
      </div>
      </form>
</div>
