<div class="row">
  <div class="col-md-6">
    <div
        ba-panel
        ba-panel-title="Filtrar vehiculos"
        ba-panel-class="with-scroll">

        <form name="form" ng-submit="filtrar(filtro)">
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
        					<label>Fecha de ida</label>
        					<p class="input-group">
                      <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="filtro.fechaInicio" is-open="fechainicioOpen"  />
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openCalendar($event,'fechainicioOpen')"><i class="fa fa-calendar"></i></button>
                      </span>
                  </p>
        				</div>
                <div class="form-group">
        					<label>Fecha de regreso</label>
        					<p class="input-group">
                      <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="filtro.fechaFin" is-open="fechafinOpen"  />
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'fechafinOpen')"><i class="fa fa-calendar"></i></button>
                      </span>
                  </p>
        				</div>

              <div class="form-group">
                <label>Capacidad de pasajeros</label>
                <input type="text" class="form-control input-sm" id="input1"
                        placeholder="Maximo 41 pasajeros" ng-model="filtro.capacidad">
              </div>

              <label>Cualidades</label>
              <div class="checkbox">
                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox" id="inlineCheckbox01" value="option1"
                          ng-model="filtro.audio">
                  <span>Audio</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox" id="inlineCheckbox02" value="option2"
                          ng-model="filtro.video">
                  <span>Video</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox" id="inlineCheckbox03" value="option3"
                          ng-model="filtro.bano">
                  <span>Baño</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox" id="inlineCheckbox04" value="option4"
                          ng-model="filtro.aire">
                  <span>Aire</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox" id="inlineCheckbox05" value="option5"
                          ng-model="filtro.reclinable">
                  <span>Silla reclinable</span>
                </label>
              </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                      <label>Origen</label>
                      <input type="text" class="form-control input-sm"
                           ng-model="viaje.origen">
                </div>
                <div class="form-group">
                      <label>Destino</label>
                      <input type="text" class="form-control input-sm"
                            ng-model="viaje.destino">
                </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <button type="button" ng-click="expandFilter()" class="btn btn-primary btn-xs">Opciones avanzadas</button>
              </div>

              <div ng-show="filtro.expanded">
                <div class="form-group">
                  <input type="text" class="form-control input-sm" id="input2"
                          placeholder="Placa" ng-model="filtro.placa">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-sm" id="input3"
                          placeholder="Marca" ng-model="filtro.marca">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-sm" id="input4"
                          placeholder="Modelo" ng-model="filtro.modelo">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-sm" id="input5"
                          placeholder="Referencia" ng-model="filtro.referencia">
                </div>
              </div>

            </div>

          </div>
          <div class="row col-md-12">
            <button type="submit" class="btn btn-primary">Buscar vehiculos</button>
          </div>
        </form>
    </div>
  </div>
  <div class="col-md-6">
    <div
        ba-panel
        ba-panel-title="Lista de vehiculos"
        ba-panel-class="with-scroll">
        <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
          <div class="feed-message" ng-repeat="vehiculo in vehiculos" ng-click="openCrearViaje(viaje,vehiculo)">
            <div class="message-icon">
              <img class="photo-icon" ng-src={{vehiculo.imagen}}>
            </div>
            <div class="text-block text-message">
              <div class="message-header">
                <span class="author">{{vehiculo.marca}} {{vehiculo.referencia}} {{vehiculo.modelo}}</span>
              </div>
              <div class="message-content">
                <div class="col-md-6">
                  <div class="info-label">
                    <i class="ion-android-car"></i>
                     {{vehiculo.placa}}
                  </div>
                  <div class="info-label">
                    <i class="ion-person-stalker"></i>
                     {{vehiculo.capacidad}}
                  </div>
                </div>
                <div class="col-md-6">
                  <span ng-show={{vehiculo.reclinable}}>
                    Sillas reclinables
                  </span>
                  <span ng-show={{vehiculo.aire}}>
                    Aire
                  </span>
                  <span ng-show={{vehiculo.audio}}>
                    Audio
                  </span>
                  <span ng-show={{vehiculo.video}}>
                    Video
                  </span>
                  <span ng-show={{vehiculo.bano}}>
                    Baño
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
