
  <div class="row">

    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="Registrar vehiculos"
          ba-panel-class="with-scroll">
        <form class="form-horizontal" ng-submit="crearVehiculo(vehiculo)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input-sm" 
                        placeholder="Capacidad de personas" ng-model="vehiculo.capacidad">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-smt text-uppercase"
                        placeholder="Placa" ng-model="vehiculo.placa">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm" 
                        placeholder="Marca" ng-model="vehiculo.marca">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm" 
                        placeholder="Modelo" ng-model="vehiculo.modelo">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm" 
                        placeholder="Referencia" ng-model="vehiculo.referencia">
              </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox">
                    <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox"  ng-model="vehiculo.audio">
                      <span>Audio</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox"  ng-model="vehiculo.video">
                      <span>Video</span>
                    </label>
                </div>
                <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox"   ng-model="vehiculo.aire">
                      <span>Aire</span>
                    </label>
                </div>
                <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox"  ng-model="vehiculo.bano">
                      <span>Baño</span>
                    </label>
                </div>
               <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox" ng-model="vehiculo.reclinable">
                      <span>Sillas reclinables</span>
                    </label>
                </div>              
              </div>
          </div>
          <div class="row col-md-6">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
          </form>
      </div>
    </div>
                             

    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="Lista de vehiculos"
          ba-panel-class="with-scroll">

          <div class="form-group">
                <input type="search" class="form-control input-sm text-uppercase" 
                        ng-model="q" placeholder="Placa">
          </div>          
          <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
            <div class="feed-message" ng-repeat="vehiculo in vehiculos| filter:q as results " >
              <div class="message-icon" ng-click="verDetalles(vehiculo)">
                <button type="button" class="btn btn-primary btn-icon"><i class="ion-ios-eye-outline" ></i></button>
              </div>
              <div class="text-block text-message">                
                  <h4>{{vehiculo.placa}} </h4>
              </div>
              <div class="preview" ng-show="vehiculo.expanded" >
                <ul>
                  <li>
                     <div class="form-group">
                            <label>Capacidad:</label>
                            <input type="text" class="form-control input-sm"  ng-model="vehiculo.capacidad">
                      </div>
                  </li>
                   <li>  
                      <div class="form-group">
                            <label>Modelo:</label>
                            <input type="text" class="form-control input-sm"  ng-model="vehiculo.modelo">
                      </div>
                  </li>
                  <li>
                      <div class="form-group">
                            <label>Audio:</label>
                            <switch  color="success"  ng-model="vehiculo.audio"></switch>
                       </div>
                  </li>
                  <li>
                    <div class="form-group">
                            <label>Video:</label>
                            <switch  color="success"  ng-model="vehiculo.video"></switch>
                       </div>
                  </li>
                  <li>
                      <div class="form-group">
                            <label>Aire:</label>
                            <switch  color="success"  ng-model="vehiculo.aire"></switch>
                       </div>
                  </li>
                  <li>
                      <div class="form-group">
                            <label>Baño:</label>
                            <switch  color="success"  ng-model="vehiculo.bano"></switch>
                       </div>
                  </li>
                  <li>
                       <div class="form-group">
                            <label>Reclinable:</label>
                            <switch  color="success"  ng-model="vehiculo.reclinable"></switch>
                       </div>
                  </li>
                  <li>
                      <div class="form-group">
                            <label>Marca:</label>
                            <input type="text" class="form-control input-sm" ng-model="vehiculo.marca">
                       </div>
                  </li>
                  <li>
                      <div class="form-group">
                            <label>Referencia:</label>
                            <input type="text" class="form-control input-sm" ng-model="vehiculo.referencia">
                       </div>
                  </li>
                </ul>
                <div class="row">
                    <button type="button" class="btn btn-success btn-with-icon" ng-click="actualizarVehiculo(vehiculo)"><i class="ion-ios-eye-outline"></i>Guardar Cambios</button>
                    <button type="button" class="btn btn-danger btn-with-icon" ng-click="eliminarVehiculo(vehiculo)" ><i class="ion-ios-trash"></i>Eliminar vehiculo</button>                  
                </div>
              </div>         
            </div>
          </div>
      </div>
    </div>

  </div>