
  <div class="row">

    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="Registrar vehiculos"
          ba-panel-class="with-scroll">
        <form class="form-horizontal" ng-submit="crearVehiculo(vehiculo)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input-sm"
                        placeholder="Capacidad de personas" ng-model="vehiculo.capacidad">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-smt text-uppercase"
                        placeholder="Placa" ng-model="vehiculo.placa">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm"
                        placeholder="Marca" ng-model="vehiculo.marca">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm"
                        placeholder="Modelo" ng-model="vehiculo.modelo">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm"
                        placeholder="Referencia" ng-model="vehiculo.referencia">
              </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox">
                    <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox"  ng-model="vehiculo.audio">
                      <span>Audio</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox"  ng-model="vehiculo.video">
                      <span>Video</span>
                    </label>
                </div>
                <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox"   ng-model="vehiculo.aire">
                      <span>Aire</span>
                    </label>
                </div>
                <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox"  ng-model="vehiculo.bano">
                      <span>Baño</span>
                    </label>
                </div>
               <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                      <input type="checkbox" ng-model="vehiculo.reclinable">
                      <span>Sillas reclinables</span>
                    </label>
                </div>
              </div>
          </div>
          <div class="row col-md-6">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
          </form>
      </div>
    </div>


    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="Lista de vehiculos"
          ba-panel-class="with-scroll">

          <div class="form-group">
                <input type="search" class="form-control input-sm text-uppercase"
                        ng-model="q" placeholder="Placa">
          </div>
          <div class="feed-messages-container" track-width="smallContainerWidth"
              min-width="360">
            <div class="feed-message" ng-repeat="vehiculo in vehiculos| filter:q as results "
                ng-click="verDetalles(vehiculo)">
                <div class="message-icon">
                  <img class="photo-icon" ng-src={{vehiculo.imagen}}>
                </div>
                <div class="text-block text-message">
                  <div class="message-header">
                    <span class="author">{{vehiculo.marca}} {{vehiculo.referencia}} {{vehiculo.modelo}}</span>
                  </div>
                  <div class="message-content">
                    <div class="col-md-6">
                      <div class="info-label">
                        <i class="ion-android-car"></i>
                         {{vehiculo.placa}}
                      </div>
                      <div class="info-label">
                        <i class="ion-person-stalker"></i>
                         {{vehiculo.capacidad}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <span ng-show={{vehiculo.reclinable}}>
                        Sillas reclinables
                      </span>
                      <span ng-show={{vehiculo.aire}}>
                        Aire
                      </span>
                      <span ng-show={{vehiculo.audio}}>
                        Audio
                      </span>
                      <span ng-show={{vehiculo.video}}>
                        Video
                      </span>
                      <span ng-show={{vehiculo.bano}}>
                        Baño
                      </span>
                    </div>
                  </div>
                  <div class="preview" ng-show="vehiculo.expanded" >
                    <div class="message-header">
                      <span class="author">Detalles del vehiculo</span>
                    </div>
                    <div class="row col-md-12">
                      <div class="col-md-6">
                        <div class="form-group">
                              <label>Marca</label>
                              <input type="text" class="form-control input-sm"
                                      ng-model="vehiculo.marca">
                         </div>
                        <div class="form-group">
                              <label>Referencia</label>
                              <input type="text" class="form-control input-sm"
                                    ng-model="vehiculo.referencia">
                         </div>
                         <div class="form-group">
                               <label>Modelo</label>
                               <input type="text" class="form-control input-sm"
                                    ng-model="vehiculo.modelo">
                         </div>
                         <div class="form-group">
                                <label>Capacidad</label>
                                <input type="text" class="form-control input-sm"
                                      ng-model="vehiculo.capacidad">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                               <span>Sillas reclinables</span>
                               <switch color="primary" ng-model="vehiculo.reclinable" ></switch>
                          </div>
                          <div class="form-group">
                                <span>Audio</span>
                                <switch color="primary" ng-model="vehiculo.audio" ></switch>
                           </div>
                           <div class="form-group">
                                <span>Video</span>
                                <switch color="primary" ng-model="vehiculo.video" ></switch>
                           </div>
                          <div class="form-group">
                                <span>Aire</span>
                                <switch color="primary" ng-model="vehiculo.aire" ></switch>
                           </div>
                          <div class="form-group">
                                <span>Baño</span>
                                <switch color="primary" ng-model="vehiculo.bano" ></switch>
                           </div>
                    </div>
                  </div>
                  <div class="row col-md-12">
                    <button type="button" class="btn btn-primary btn-sm"
                        ng-click="actualizarVehiculo(vehiculo)">Guardar Cambios
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                        ng-click="eliminarVehiculo(vehiculo)">Eliminar vehiculo
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
