<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
  <form class="form-horizontal">
    <h3 class="with-line">Información General</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Foto</label>

          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img ng-src="{{usuario.nuevaImagen.path || usuario.foto}}" ng-click="uploadPicture()">
              </div>
            <!--  <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i> -->
            <!--  <a href class="change-userpic" ng-click="uploadPicture()">Subir foto</a>  -->
            <a ngf-select ng-model="usuario.nuevaImagen"
                    ngf-multiple="false" ngf-max-size="2MB"
                    class="change-userpic"> Subir foto
            </a>
              <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)"
                     ng-model="usuario.nuevaImagen" ngf-multiple="false" ngf-max-size="2MB">
            </div>
            <p class="help-block">{{usuario.nuevaImagen.name}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Nombre</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputFirstName" placeholder="" ng-model="usuario.nombre">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Rol</label>

          <div class="col-sm-9">
            <select class="form-control selectpicker with-search" data-live-search="true" title="Rol"    selectpicker
             ng-model="usuario.rol">
              <option value="gerente">Gerente</option>
              <option value="agendador">agendador</option>
              <option value="cliente">Cliente</option>
              <option value="conductor">Conductor</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Actualizar contraseña</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">Contraseña</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" ng-model="usuario.password">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirmar</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" ng-model="usuario.confPass">
            <p ng-show=passStatus class="text-danger">{{passStatus}}</p>
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Información</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Documento</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPhone" placeholder="" ng-model="usuario.cedula">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="" ng-model="usuario.email">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Telefono</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPhone" placeholder="" ng-model="usuario.telefono">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Fecha Nacimiento</label>

          <div class="col-sm-9">
            <p class="input-group">
                <input type="text" class="form-control" datetime-picker="dd MMM yyyy" enable-time="false" ng-model="usuario.fechaNacimiento"
                is-open="fechaNacimiento"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'fechaNacimiento')"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
          </div>
        </div>

      </div>
    </div>

    <button type="button" class="btn btn-primary btn-with-icon save-profile"
            ng-click="actualizarUsuario(usuario)">
      <i class="ion-android-checkmark-circle"></i>Actualizar Perfil
    </button>
  </form>
  </div>
</div>
