.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

/*Tamano de un control en 0 para poder organizar los impur de
de capacidad max y min del form de viajes
===========================================================*/
.Hide{
  width:0px;
}

/*Colores de los estados de los viajes
====================================*/
.Confirmado{
	color: green;
}

.Cancelado{
	color: red;
}

.Pendiente{
	color: yellow;
}

.Finalizado{
	color: blue;
}


/*Elimina el espacio en blanco en la lista de viajes realizados ListarViajes
copie todo el original y solo cambie el 80 por 0 en el margin
====================================*====================================**/
.text-block-withoutSpace {
	cursor: pointer;
	position: relative;
	border-radius: 5px;
	margin: 0 0 0 0px;
	padding: 5px 20px;
	color: $default-text;
	width: 280px;
	height: 70px;

	&.text-message {
		font-size: 12px;
		width: inherit;
		max-width: calc(100% - 80px);
		height: inherit;
		min-height: 60px;
		&:before {
			display: block;
		}
		.message-content {
			font-size: 12px;
			line-height: 15px;
			font-weight: $font-light;
		}
	}
	&.small-message {
		width: 155px;
		height: 145px;
		.preview {
			bottom: 0;
			top: initial;
			height: 87px;
			img {
				width: 155px;
				height: 87px;
				border-radius: 0 0 5px 5px;
			}
		}
	}
}
