
  <div class="row">
    <div class="col-md-12">
      <div
          ba-panel
          ba-panel-title="Destinos Disponibles"
          ba-panel-class="with-scroll">

        
          <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-sm"
                ng-click="openCrearDestino()">+ Crear nuevo destino
            </button>
          </div>
          <div class="col-md-12">     


              <table class="table table-hover">
	              <thead>
	                <tr class="black-muted-bg">
	                <th class="align-left"></th>
	                <th class="align-left">Destino</th>
	          
	              </thead>
	              <tbody ng-repeat="destino in destinos | orderBy:'nombre' ">
	                <tr class="no-top-border" ng-click="verDetalleDestino(destino)" style="cursor:pointer">
	                  <td class="align-right"><img style="width: 100px;height: 100px" ng-src="{{destino.imagenes[0]}}" ></td>
	                  <td>{{destino.nombre}}</td>                  
	                  
	                </tr>
	                
	              </tbody>
	          </table>



           
          </div>
      </div>
    </div>

  </div>
