
  <div class="row">
    <div class="col-md-12">
      <div
          ba-panel
          ba-panel-title="Paquetes"
          ba-panel-class="with-scroll">

        
          <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-sm"
                ng-click="abrirModalCrearPaquetes()">+ Crear nuevo paquete
            </button>
          </div>
          <div class="col-md-12">     


              <table class="table table-hover">
	              <thead>
	                <tr class="black-muted-bg">
	                <th class="align-left">Nombre</th>
	          
	              </thead>
	              <tbody ng-repeat="paquete in paquetes | orderBy:'nombre' ">
	                  <tr class="no-top-border" ng-click="verDetalleDestino(paquete)" style="cursor:pointer">
	                  <td>{{paquete.nombre}}</td>                 
	                  
	                </tr>
	                
	              </tbody>
	          </table>



           
          </div>
      </div>
    </div>

  </div>
