

  <div class="row">
    <div class="col-md-12"
         ba-panel
         ba-panel-title="Busqueda avanzada"
         ba-panel-class="with-scroll">

         <form>
             <div class="col-md-3">
               <div class="form-group">
                 <label>Día y hora inicio</label>
                 <p class="input-group">
                     <input type="text"  class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="vehiculo.fechaInicio" is-open="fechainicioOpen"  />
                     <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="openCalendar($event,'fechainicioOpen')"><i class="fa fa-calendar"></i></button>
                     </span>
                 </p>
               </div>
               <div class="form-group">
                 <label>Día y hora fin</label>
                 <p class="input-group">
                     <input type="text"  class="form-control" datetime-picker="dd MMM yyyy HH:mm" data-language='es' ng-model="vehiculo.fechaFin" is-open="fechafinOpen"  />
                     <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'fechafinOpen')"><i class="fa fa-calendar"></i></button>
                     </span>
                 </p>
               </div>


            </div>
            <div class="col-md-3">
               <div class="form-group">
                 <label>Capacidad de pasajeros</label>
                   <div class="input-group">
                     <input type="number" class="form-control input-sm"
                             placeholder="Min. 1" min=1 ng-model="vehiculo.capacidad">
                     
                   </div>
                   <div class="col-md-12">
                     <p ng-show=messageError class="text-danger">{{messageError}}</p>
                   </div>
               </div>
               <div class="form-group">
                   <label>Etiquetas </label>
                    <div class="input-group">
                       <ui-select multiple tagging="tagTransform" ng-model="vehiculo.tags" theme="bootstrap"
                                  ng-disabled="disabled" style="width: 320px;" title="Selecciona las etiquetas">
                       <ui-select-match placeholder="Selecciona las etiquetas">{{$item.nombre}}</ui-select-match>
                       <ui-select-choices repeat="etiqueta as etiqueta in etiquetas">
                         <div ng-if="etiqueta.isTag" ng-bind-html="etiqueta.nombre +' <small>(new)</small>'| highlight: $select.search"></div>
                         <div ng-if="!etiqueta.isTag" ng-bind-html="etiqueta.nombre + etiqueta.isTag| highlight: $select.search"></div>
                       </ui-select-choices>
                     </ui-select>
                  </div>
                </div>
                <div class="form-group">
                   <label>Placa</label>
                     <div class="input-group">
                          <ui-select ng-model="vehiculo.placa" style="width: 320px"
                          class="btn-group bootstrap-select" theme="bootstrap"
                          ng-disabled="false"
                          append-to-body="true"
                          search-enabled="true">
                           <ui-select-match placeholder="Escribe una placa...">
                             <span> {{$select.selected.placa}}</span>
                           </ui-select-match>
                           <ui-select-choices repeat="placa.placa as placa in placas | filter: $select.search" >
                             <span ng-bind-html="placa.placa"></span>
                           </ui-select-choices>
                         </ui-select>
                   </div>
                </div>
             </div>
             <div class="col-md-12">
               <button type="submit" ng-click="filtrar(vehiculo)" class="btn btn-primary btn-sm">Filtrar vehiculos</button>
               <button type="submit" ng-click="traerTodos()" class="btn btn-success btn-sm">Mostrar todos</button>
               <button  ng-click="vehiculo = {}" class="btn btn-warning btn-sm">Limpiar</button>
             </div>
         </form>

    </div>
  </div>


  <div class="row">

      <div class="visualization" id="visualization" style=" box-sizing: border-box;width: 95%;height: 300px;"></div>

  </div>
