

  <div class="row">
    <div class="col-md-12"
         ba-panel
         ba-panel-title="Busqueda avanzada"
         ba-panel-class="with-scroll">

         <form class="row form-inline">
             <div class="col-md-12">
               <div class="form-group">
                  <label>Placa</label>
                  <div class="input-group">
                    <input type="text" class="form-control input-sm" id="input2"
                         placeholder="Placa" ng-model="vehiculo.placa">
                  </div>
               </div>
               <div class="form-group">
                 <label>Marca y referencia</label>
                  <div class="input-group">
                     <select id="marca" class="form-control input-sm selectpicker with-search"
                     data-live-search="true" title="Marca" selectpicker
                     placeholder="Marca"
                     ng-model="vehiculo.marca" ng-change="switchMarca()"
                     ng-options="marca.nombre as marca.nombre for marca in marcas">
                     </select>
                     <span class="input-group-btn Hide"></span>
                     <select id="referencia" class="form-control input-sm selectpicker with-search"
                     data-live-search="true" title="Referencia" selectpicker
                     placeholder="Referencia"
                     ng-model="vehiculo.referencia" ng-options="referencia.nombre as referencia.nombre for referencia in referencias">
                     </select>
                  </div>
               </div>

               <div class="form-group">
                 <label>Capacidad de pasajeros</label>
                   <div class="input-group">
                     <input type="number" class="form-control input-sm"
                             placeholder="Min. 1" min=1 ng-model="vehiculo.capacidad">
                     <span class="input-group-btn Hide"></span>
                     <input type="number" class="form-control input-sm"
                             placeholder="Max. 45" max="45" ng-model="vehiculo.capacidadMax">
                   </div>
                   <div class="col-md-12">
                     <p ng-show=messageError class="text-danger">{{messageError}}</p>
                   </div>
               </div>
               <div class="form-group">
                   <label>Etiquetas </label>
                    <div class="input-group">
                       <ui-select multiple tagging="tagTransform" ng-model="vehiculo.tags" theme="bootstrap" ng-disabled="disabled" style="width: 200px;" title="Selecciona las etiquetas">
                       <ui-select-match placeholder="Selecciona las etiquetas">{{$item.nombre}}</ui-select-match>
                       <ui-select-choices repeat="etiqueta as etiqueta in etiquetas">
                         <div ng-if="etiqueta.isTag" ng-bind-html="etiqueta.nombre +' <small>(new)</small>'| highlight: $select.search"></div>
                         <div ng-if="!etiqueta.isTag" ng-bind-html="etiqueta.nombre + etiqueta.isTag| highlight: $select.search"></div>
                       </ui-select-choices>
                     </ui-select>
                  </div>
                 </div>
             </div>

            <button type="submit" ng-click="filtrar(vehiculo)" class="btn btn-primary btn-sm">Filtrar vehiculos</button>
            <button type="submit" ng-click="traerTodos()" class="btn btn-primary btn-sm">Mostrar todos</button>
         </form>

    </div>
  </div>


  <div class="row">

      <div class="visualization" id="visualization" style=" box-sizing: border-box;width: 95%;height: 300px;"></div>

  </div>
