
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Cancelar viaje</h4>
  </div>
  <div class="modal-body">
    Esta seguro que desea cancelar el viaje con las siguientes caracteristicas?<br>
    Vehiculo: <b>{{viaje.placa}}</b><br>
    Origen: <b>{{viaje.origen}}</b><br>
    Destino: <b>{{viaje.destino}}</b><br>
    Fecha de salida: <b>{{viaje.fechaInicio |date:"dd/MM/yyyy '-' h:mma"}}</b><br>
    Fecha de regreso: <b>{{viaje.fechaFin |date:"dd/MM/yyyy '-' h:mma" }}</b>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancelarViaje(viaje)">Cancelar viaje</button>
    <button class="btn btn-primary" ng-click="$dismiss()">Omitir</button>
  </div>
</div>
