<div class="row pie-charts">
  <div class="pie-chart-item-container" ng-repeat="chart in charts">
    <div ba-panel>
      <div class="pie-chart-item">
        <!--<div class="chart" rel="{{ ::chart.color }}" data-percent="60"> <span class="percent"></span> </div>-->
        <div class="description">
          <div>{{ ::chart.description }}</div>
          <div class="description-stats">{{ ::chart.stats }}</div>
        </div>
        <i class="chart-icon i-{{ chart.icon }}"></i>
      </div>
    </div>
  </div>
</div>

<div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12"
     ba-panel
     ba-panel-title="Lista de usuarios"
     ba-panel-class="large-panel with-scroll feed-panel">

  <div class="row">
    <div class="feed-messages-container" track-width="smallContainerWidth">
      <div class="feed-message" ng-repeat="usuario in usuarios"  min-width="360">
        <div class="message-icon">
          <img class="photo-icon" ng-src="{{usuario.foto}}">
        </div>

        <div class="text-block text-message">
          <div class="message-header">
            <span class="author">{{usuario.nombre}} - {{usuario.rol}}</span>
          </div>
          <div class="message-content line-clamp" ng-class="{'line-clamp-2' : !message.expanded}">
            <div class="info-label">
              <i class="ion-ios-email"></i>
               Correo electronico: <b><a class="email-link" >{{usuario.email}}</a></b>
            </div>
            <div class="info-label">
              <i class="ion-ios-telephone"></i>
               Telefono: <b><a class="email-link" >{{usuario.telefono}}</a></b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12"
     ba-panel
     ba-panel-title="Lista de vehiculos"
     ba-panel-class="large-panel with-scroll feed-panel">

  <div class="row">
    <div class="feed-messages-container" track-width="smallContainerWidth"
        min-width="360">
      <div class="feed-message" style="min-height: 95px;" ng-repeat="vehiculo in vehiculos">
          <div class="message-icon">
            <img class="photo-icon" ng-src="{{vehiculo | vehiculoImagen}}">
          </div>
          <div class="text-block text-message">
            <div class="message-header">
              <span class="author">{{vehiculo.marca}} {{vehiculo.referencia}} {{vehiculo.modelo}}</span>
            </div>
            <div class="message-content"><div class="col-md-12">
              <div class="info-label">
                <i class="ion-person"></i>
                 Conductor: <b>{{vehiculo.Usuario.nombre}}</b>
              </div>
              <div class="info-label">
                <i class="ion-android-car"></i>
                 Placa: <b>{{vehiculo.placa}}</b>
              </div>
              <div class="info-label">
                <i class="ion-person-stalker"></i>
                 Cupo: <b>{{vehiculo.capacidad}}</b>
              </div>
              <div class="info-label">
                <i class="ion-android-settings"></i>
                <span ng-show={{vehiculo.reclinable}}>
                  Sillas reclinables
                </span>
                <span ng-show={{vehiculo.aire}}>
                  Aire
                </span>
                <span ng-show={{vehiculo.audio}}>
                  Audio
                </span>
                <span ng-show={{vehiculo.video}}>
                  Video
                </span>
                <span ng-show={{vehiculo.bano}}>
                  Baño
                </span>
                <span ng-show={{vehiculo.wifi}}>
                  WiFi
                </span>
              </div>
          </div>
            </div>

        </div>
      </div>
    </div>
</div>





<!--<dashboard-pie-chart></dashboard-pie-chart>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Acquisition Channels"
       ba-panel-class="medium-panel traffic-panel">
    <traffic-chart></traffic-chart>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Users by Country"
       ba-panel-class="medium-panel">
    <dashboard-map></dashboard-map>
  </div>
</div>

<div class="row">
  <div class="col-xlg-9 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xlg-8 col-lg-12 col-md-12 col-sm-7 col-xs-12"
           ba-panel
           ba-panel-title="Revenue"
           ba-panel-class="medium-panel">
        <dashboard-line-chart></dashboard-line-chart>
      </div>
      <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12"
           ba-panel
           ba-panel-class="popular-app medium-panel">
        <popular-app></popular-app>
      </div>
    </div>
  </div>
  <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12"
       ba-panel
       ba-panel-title="Feed"
       ba-panel-class="large-panel with-scroll feed-panel">
    <blur-feed></blur-feed>
  </div>
</div>

<div class="row shift-up">
  <div class="col-xlg-3 col-lg-6 col-md-6 col-xs-12"
       ba-panel
       ba-panel-title="To Do List"
       ba-panel-class="xmedium-panel feed-comply-panel with-scroll todo-panel">
    <dashboard-todo></dashboard-todo>
  </div>
  <div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12"
       ba-panel
       ba-panel-title="Calendar"
       ba-panel-class="xmedium-panel feed-comply-panel with-scroll calendar-panel">
    <dashboard-calendar></dashboard-calendar>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div ba-panel ba-panel-title="Weather" ba-panel-class="medium-panel with-scroll">
      <blur-weather forecast="5"></blur-weather>
    </div>
  </div>
</div>-->
