<div class="row">
  <div class="col-md-6">
    <div
        ba-panel
        ba-panel-title="Crear viaje"
        ba-panel-class="with-scroll">
			<form  ng-submit="crearViaje(viaje)">
				<div class="form-group">
					<label>Fecha de ida</label>
					<input type="datetime-local" class="form-control"  placeholder="Fecha de inicio"  ng-model="viaje.fechaInicio">
				</div>
				<div class="form-group">
					<label>Fecha de regreso</label>
					<input type="datetime-local" class="form-control"  placeholder="Fecha de inicio" ng-model="viaje.fechaFin">
				</div>
				<div class="form-group">
					<label>Origen</label>
					<input type="text" class="form-control" placeholder="Origen" ng-model="viaje.origen">
				</div>
				<div class="form-group">
					<label>Destino</label>
					<input type="destino" class="form-control" placeholder="Desitno" ng-model="viaje.destino">
				</div>
				<div class="form-group">
					<label>Descripcion</label>
						<textarea rows="4" cols="50" class="form-control" placeholder="Descripcion" ng-model="viaje.descripcion"></textarea>
				</div>
				<div class="form-group">
					<label>Vehiculo</label>
						<select class="form-control selectpicker with-search" data-live-search="true" title="Vehiculo" selectpicker
						ng-model="viaje.VehiculoId"
						ng-options="item.id as item.placa for item in vehiculos track by item.id">
						</select>
				</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Crear viaje</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
